<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			    http://www.springframework.org/schema/beans/spring-beans.xsd
			    http://www.springframework.org/schema/context
			    http://www.springframework.org/schema/context/spring-context.xsd
			    http://www.springframework.org/schema/aop
			    http://www.springframework.org/schema/aop/spring-aop.xsd
			    http://www.springframework.org/schema/tx
			    http://www.springframework.org/schema/tx/spring-tx.xsd
			    http://www.springframework.org/schema/mvc
			    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--开启组件扫描-->
    <context:component-scan base-package="com.hopu.web"/>

    <!--开启mvc注解支持-->
    <mvc:annotation-driven />

    <!--释放静态资源-->
    <mvc:default-servlet-handler/>

    <!--视图解析器-->
    <bean id="internalResourceViewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--配置文件上传解析器，这个id是定死的，不能随便写，SpringMVC会调用它-->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--每次文件上传大小限制，单位B-->
        <property name="maxUploadSize" value="102400000"></property>
    </bean>
    <!-- 注册自定义登录拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 指定当前拦截器拦截的路径 -->
            <mvc:mapping path="/admin/**"/>
            <mvc:mapping path="/front/favority/**"/>
            <mvc:mapping path="/front/room/cancleFavorite"/>
            <mvc:mapping path="/front/room/addFavorite"/>

            <bean class="com.hopu.web.interceptor.LoginInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>
</beans>
