<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hopu.mapper.UserMapper">
    <insert id="save" parameterType="user">
    insert INTO t_user(username, password,nick_name,phone,role,email,gender,portrait,age,create_time,update_time)
    VALUES (#{username},#{password},#{nickName},#{phone},#{role},#{email},#{gender},#{portrait},#{age},#{createTime},#{updateTime})
    </insert>

    <update id="update" parameterType="user">
        update t_user
        <set>
            <if test="username!=null and username!=''">
                username=#{username},
            </if>
            <if test="email !=null and email !=''">
                email =#{email},
            </if>
            <if test="phone !=null and phone !=''">
                phone =#{phone},
            </if>
            <if test="age !=null and age !=''">
                age =#{age},
            </if>
            <if test="gender !=null and gender !=''">
                gender =#{gender},
            </if>
            <if test="updateTime !=null and updateTime !=''">
                update_time =#{updateTime}
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>